# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/build/.gitignore
/build
.vs
/out/build/x64-Debug
/coverage/
/node_modules/
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/.nyc_output
/lib
/lib_test
/.cache
/.smake
/.vscode
/.ninja_log